.recipe-title {
    border: 1px solid #3CB371 !important;
    border-radius: 16px;
    max-width: 1140px;
    text-align: center;
    margin: 16px;
    margin-top: 12px;
    vertical-align: middle;
    line-height: 16px;
}

.tile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 520px;
    min-width: 1140px;
}

.tile-recipe {
    border: 1px solid #ccc !important;
    border-radius: 16px;
    padding: 0.01em 16px;
    display: flex;
    flex-direction: column;
    grid-row: span 1;
    grid-column: span 1;
    overflow-y: scroll;
    margin: 16px;
}

.tile-title {
    border: 1px solid #ccc !important;
    border-radius: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    vertical-align: middle;
}

.tile-image {
    max-height: 244px;
    width: 244px;
    border-radius: 16px;
    border: 1px solid #ccc !important;
}

.tile-info {
    border: 1px solid #ccc !important;
    border-radius: 16px;
    max-width: 244px;
    margin-top: 16px;
    margin-bottom: 16px;
    min-height: 112px;
}

.tile-url {
    margin: 16px;
    border-radius: 16px;
    min-width: 210px;
}

.tile-servings {
    margin: 16px;
}

.tile-ingredients-wrapper{
    border: 1px solid #ccc !important;
    border-radius: 16px;
}

.tile-ingredients-title {

}

.tile-ingredients {

}

