{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <h1>Hi, {{ current_user.username }}</h1>
        {% if form %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    <hr>
    <div class="container">
        <div class= "row, fa-3x">
            <div class="col-md-4, iconbox">
                <i class="fas fa-apple-alt fa-border"> Fruits</i>
            </div>
            <div class="col-md-4">
                <i class="fas fa-carrot"> Vegetables</i>
            </div>
            <div class="col-md-4">
                <i class="fas fa-bread-slice"> Grains</i>
            </div>
            <div class="col-md-4">
                <i class="fas fa-drumstick-bite"> Meat</i>
            </div>
            <div class="col-md-4">
                <i class="fas fa-fish"> Seafood</i>
            </div>
            <div class="col-md-4">
                <i class="fas fa-cheese"> Dairy</i>
            </div>
            <div class="col-md-4">
                <i class="fas fa-pepper-hot"> Spices</i>
            </div>
        </div>
    </div>
{% endblock %}

