{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <h1>Hi, {{ current_user.username }}</h1>
        {% if form %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    <hr>
    <div class="container">
        <div class= "row, fa-3x">
            <div class="col-md-4, iconbox">
                <a class="btn btn-primary" data-toggle="collapse"><i class="fas fa-apple-alt"> Fruits</i></a>
            </div>
        </div>
        <ul>
            {% for food in foods %}
                <li>{{ food.name }}</li>
            {% endfor %}
        </ul>      
    </div>
{% endblock %}

