{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="container">
        <h1>{{ current_user.username }}'s FRDJ</h1>
        <div class="row">
            {% if form %}
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            {% endif %}
            <div class="col-md-8">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Foods</a>
                    {% for food_type in foods %}
                        {% for food in food_type %}
                            <a class="list-group-item list-group-item clearfix align-middle">
                                {{ food.name }}
                                <span class="pull-right">
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </span>
                            </a>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}

