{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class="recipe-title"><h1>Recipe Search</h1></div>
        {% if form %}
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        {% endif %}
        {% if recipes %}
            <div class="row">
                <div class="col-md-4">
                    <div class="tile-container">
                        {% for items in recipes %}
                        <div class="tile-recipe">
                            <div class="tile-title">
                                <h2>{{ items['recipe']['label'] }}</h2>
                            </div>
                            
                            <div class="tile-image">
                                <img src="{{ items['recipe']['image'] }}" style="border-radius: 16px; max-height: 244px; max-width: 244px">
                            </div>
                            
                            <div class="tile-info">
                                <div class="tile-url">
                                    <a href="{{ items['recipe']['url'] }}" class="btn btn-info" role="button" style="min-width: 210px">Recipe</a>
                                </div>
                                
                                <div class="tile-servings">
                                    Serving Size: {{ items['recipe']['yield']|round|int }}
                                </div>
                            </div>
                            
                            
                            <div class="tile-ingredients-title">
                                <h3>Ingredients:</h3>
                            </div>
                            
                            {% for ingr in items['recipe']['ingredientLines'] %}
                                <div class="tile-ingredients">
                                    <li>{{ ingr }}</li>
                                </div>
                            {% endfor %} 
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div id="edamam-badge" data-color="white"></div>    
    </div>
{% endblock %}


