{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        {% if form %}
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        {% endif %}
        {% if recipes %}
            {% for items in recipes %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-group">
                            <a href="{{ items['recipe']['url'] }}" class="list-group-item list-group-item-action active">
                                {{ items['recipe']['label'] }}
                            </a>
                            {% for ingr in items['recipe']['ingredientLines'] %}
                                <a href="#" class="list-group-item list-group-item clearfix align-middle">
                                    {{ ingr }}
                                    <span class="pull-right">
                                        <button type="button" class="btn btn-sm btn-success">
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ items['recipe']['image'] }}">
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <hr>
        <div id="edamam-badge" data-color="white"></div>    
    </div>
{% endblock %}


