{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <h1>Shopping List</h1>
        {% if form %}
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        {% endif %}
        <hr>
        {% if shopping_list %}
            <div class="row">
                <div class="col-md-6">
                    <div id="shopping_list_container"class="list-group checked-list-box">
                        {% for item in shopping_list %}
                            <a id="item_id{{ item.id }}" href="#" type="checkbox" class="list-group-item list-group-item clearfix align-center">
                                {{ item.name }}
                                <span class="pull-right">
                                    <button type="button" class="btn btn-sm btn-success">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="removeItem({{ item.id }})">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/shopping_list.js') }}"></script>
{% endblock %}